body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../../img/background.jpg) center center no-repeat fixed;
  background-size: cover;
}

form {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
}

form button, form h5{
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

.switchLabel {
  font-size: 16px;
}

.card {
  border-radius: 7px !important;
}

.costNumber {
  font-size: 30px;
}

.delete {
  position: absolute;
  right: 28px;
  display: none;
}

.payment-summary:hover .delete {
  display: inline-block;
}

.delete:hover {
  color: #ec407a;
}

.balance {
  margin-right: 40px;
  margin-left: 40px;
  font-size: 16px;
}

.balance:hover {
  cursor: pointer;
}

.search {
  background-color: #424242;
  border-radius: 30px;
}

.search__icon {
  margin-left: 10px;
  margin-top: 5px;
  color: #ffffff;
}

.search__input {
  width: 80% !important;
  margin-left: 55px !important;
  color: #ffffff;
}

.sort {
  margin-top: 30px !important;
  background-color: #f7f7f7;
  border-radius: 50px;
  height: 90px;
}

.sort-radioButtons {
  margin-top: -5px;
}

.sort-radioButtons label {
  margin-left: 41px;
}

.select-dropdown {
  border-bottom: none !important;
  margin-left: 45px !important;
  width: 328px !important;
  box-shadow: none !important;
  overflow: hidden !important;
}

.select-dropdown li {
  min-height: 45px !important;
  height: 0 !important;
}

.select-wrapper svg {
  margin-right: 45px !important;
}

.filter {
  margin-top: 30px;
  background-color: #424242;
  border-radius: 100px;
  height: 150px;
}

.filter__input {
  width: 80% !important;
  margin-left: 50px !important;
  color: #ffffff;
}

.filter-radioButtons label {
  margin-left: 45px;
}

.filter__inputDiv {
  margin-bottom: 10px !important;
}

.filter__filterByStatus {
  margin-left: 45px;
  margin-top: 15px;
}

.filterPaid {
  margin-right: 55px !important;
}
